/* HeroSearch private styles */
#search-component {
  position: relative;
  font-family: 'Arial', sans-serif;
  max-width: 700px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  label {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    color: #333;
    text-align: center;
  }

  .input-container {
    position: relative;
    display: flex;
    justify-content: center;

    input {
      padding: 0.8rem 2.5rem 0.8rem 1rem; /* Espacio adicional a la derecha para el spinner */
      width: 100%;
      max-width: 600px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
      transition: border-color 0.3s;

      &:focus {
        outline: none;
        border-color: #336699;
      }
    }

    mat-spinner {
      position: absolute;
      right: 1rem; /* Ubicación del spinner dentro del input */
      top: 50%;
      transform: translateY(-50%);
      width: 20px !important; /* Tamaño ajustado para encajar en el input */
      height: 20px !important; /* Tamaño ajustado para encajar en el input */
      color: #336699;
    }
  }
}

.search-result {
  margin-top: 1rem;
  padding-left: 0;

  li {
    list-style: none;
    margin: 0.2rem 0;

    a {
      display: block;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 0.8rem 1rem;
      text-decoration: none;
      color: #333;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #fff;
      transition: all 0.3s ease;

      &:hover {
        background-color: #435A60;
        color: #fff;
        border-color: #435A60;
      }
    }
  }
}
